.message-widget{
    position: fixed;
    font-size: 45px;
    bottom: 15px;
    right: 15px;
    z-index: 6000;
    cursor: pointer;
    border: none;
}

.message-widget .meeychat-btn-toggle{
    padding: 0;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(237, 237, 238);
    border: none;
    color: #7851a9;
    height: min-content;
}

.message-widget .meeychat-btn-toggle:hover,.message-widget .meeychat-btn-toggle:active,
.message-widget .meeychat-btn-toggle:focus, .message-widget .meeychat-btn-toggle::before,
.message-widget .meeychat-btn-toggle::after{
    background-color: rgb(248, 248, 248);
    outline: none;
    border: none;
}
.meeychat-btn-toggle .meeychat-btn-toggle:active{
    border: none;
}
.meeychat__opened{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    border-radius: 8px;
}
.meeychat__list{
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meeychat__header{
    min-height: 48px;
    background-color: #7851a9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.meeychat__header-avatar{
    font-size: 23px;
}
.meeychat--header__user{
    padding: 0 70px;
    text-align: center;
    font-size: 16px;
}
.meeychat__header-close{
    padding: 0;
    margin: 0;
    width: min-content;
    height: min-content;
}
.meeychat__header-button-close{
    border: none;
    background-color: #7851a9;
    cursor: pointer;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #fff;
    height: min-content;
}
.meeychat__header-button-close:hover,.meeychat__header-button-close:focus,
.meeychat__header-button-close:active{
    outline: none;
    color: #fff;
}

.meeychat__body{
    padding: 20px;
    height: 75%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #fff;
}
.meeychat__address{
    font-size: 15px;
    color: #212529;
    padding: 0;
    margin-bottom: 10px;
}
.meeychat__address p{
    margin: 0 0 7px 0;
    padding: 0;
}
.meeychat__subtitle{
    padding: 0;
    position: relative;
    margin-bottom: 15px;
}
.meeychat__subtitle input,
.meeychat--subcontent__textarea textarea{
    outline: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(192,192,192);
}
.meeychat__subtitle input:focus,
.meeychat__content textarea:focus{
    border-color: #7851a9;
}

.meeychat--subtitle__input,
.meeychat--subcontent__textarea{
    position: relative;
    width: 100%;
}
.meeychat--subtitle__label{
    font-size: 15px;
    color: rgb(59,60,54, .8);
    position: absolute;
    top: 2px;
    left: 15px;
    margin: 0;
    height: max-content;
    user-select: none;
    transform: translateY(-50%);
    top: 50%;
    pointer-events: none;
    transition: 0.25s ease;
}
.meeychat--subcontent__textarea .meeychat--subtitle__label{
    top: 30px;
}
.meeychat__subtitle input:not(:placeholder-shown) + .meeychat--subtitle__label,
.meeychat__subtitle input:focus + .meeychat--subtitle__label,
.meeychat--subcontent__textarea textarea:not(:placeholder-shown) + .meeychat--subtitle__label,
.meeychat--subcontent__textarea textarea:focus + .meeychat--subtitle__label{
    top: 0;
    padding: 0 10px;
    background-color: white;
    display: inline-block;
    color: #7851a9;
}
.meeychat__content{
    padding: 0;
    margin-bottom: 20px;
}
.meeychat__content textarea{
    height: 150px;
    padding: 15px;
}

.form-text{
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    width: 100%;
    height: 180px;
    margin: 0;
}

.meeychat__footer{
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.send__mail{
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #7851a9;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.send__mail:focus, .send__mail:active{
    outline: none;
}
.send__mail:hover{
    background-color: #7851a9;
}
.error{
    color: #dc3545;
    font-size: 14px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.is-invalid {
    outline-color: #dc3545;
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}